@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
	margin: 0;
	padding: 0;
	bottom: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* Убирает линии обводки ***************************************************/
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
header,
footer,
nav,
aside {
	display: block;
}
/* Уравнивает параметры шрифтов на разных браузерах */
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/* Прошу элементы форм наследовать стили элементов шрифта */
input,
button,
textarea {
	font-family: inherit;
}
/* Убирает крест у IE */
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}
a {
	color: inherit;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}
/*--------------------------- body */

body {
	font-family: "Lato", sans-serif;
}
.wrapper {
	max-width: 810px;
}
h1 {
	font-weight: 700;
	font-size: 46px;
	line-height: 130%;
	color: #1e212c;
}
.text-bold-one {
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
}
.text {
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.text-bold-two {
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
}
.list {
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.list-item {
	text-indent: 32px;
}
.link {
	font-size: 25px;
	text-decoration: underline;
	text-transform: uppercase;
}
